<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medonyst</title>
    <link rel="stylesheet" href="/css/navbar/navbar.css">
    <link rel="stylesheet" href="/css/recommendation/recommendation2.css">
</head>

<body>

    <!-- Sidepanel -->
    <div id="mySidepanel" class="sidepanel">
        <div class="blue">
            <h1>Menu</h1>
        </div>
        <a href="/">Home</a>
        <a href="/recommendation">Medicines</a>
        <a href="/reminder">Reminders</a>
        <a href="/record">Records</a>
        <!-- <a href="/doctor">Doctors</a> -->
        <a href="/about">About Us</a>
    </div>

    <!-- Navbar -->
    <nav class="navbar">
        <button class="openbtn" onclick="openNav()">
            <input id="ham" type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a href="/" id="logo">
            <h1>MEDONYST</h1>
        </a>
        <a class="navLink" href="#">
            <img src="/images/bell.svg" alt="">
        </a>
        <a class="navLink" href="#">
            <img src="/images/user.svg" alt="">
        </a>
    </nav>

    <!-- Navigation Buttons -->
    <div class="appNav">
        <a href="/recommendation">
            <div class="appNavBtn medicine active">
                <img src="/images/medicine.png" alt="">
                <h1>Medicines</h1>
                <p>Get medicine </p>
            </div>
        </a>
        <a href="/reminder">
            <div class="appNavBtn reminder">
                <img src="/images/Reminder.png" alt="">
                <h1>Reminders</h1>
                <p>Set medicine <br> reminders</p>
            </div>
        </a>
        <a href="/record">
            <div class="appNavBtn record">
                <img src="/images/Record.png" alt="">
                <h1>Records</h1>
                <p>Upload your <br> medical records</p>
            </div>
        </a>
    </div>

    <!-- Recommendation Result -->
    <div class="container">
        <div class="back">
            <a href="/recommendation">
                Back
            </a>
        </div>

        <h1 id="title">Medicine Recommender</h1>

        <div class="cards">
            <% x.forEach(e =>{%>
                <div class="cardChild">
                    <div class="sympName">
                        <h1>
                            <%= e.symptom %>
                        </h1>
                    </div>
                    <div class="medicineWrapper">
                        <div class="medicine">
                            <h1 id="recTitle">DOCTOR RECOMMENDED</h1>
                            <h1 id="med1">
                                <%= e.doc[0] %>
                            </h1>
                            <h1 id="med2">
                                <%= e.doc[1] %>
                            </h1>
                        </div>
                        <div class="medicine">
                            <h1 id="recTitle">PATIENT SATISFACTION</h1>
                            <h1 id="med1">
                                <%= e.pat[0] %>
                            </h1>
                            <h1 id="med2">
                                <%= e.pat[1] %>
                            </h1>
                        </div>
                    </div>
                    <!-- <a href="recommendation3.html">
                        <button class="seemore">See More</button>
                    </a> -->
                </div>
                <%})%>

        </div>

        <p class="disc">* Please note that the medicines shown to you are on basis of the symptoms entered by you.</p>
    </div>


    <script src="/js/navbar.js"></script>
</body>

</html>